<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<br/>
</body>
<div class="container-fluid pt-3 bg-secondary text-center"  style="margin-bottom:0">
  <ul class="text-white">
  	<p>👤Created by KGC</p>
	<p>📧Contact : gogokgc@gmail.com</p>
	<p>🇰🇷Osan, South korea</p>
	
  </ul>
</div>

<script type="text/javascript" src="/js/index.js"></script>


</html>