<!-- Footer -->
					<footer id="footer">
						<div class="inner">
							<section>
								<h2>contact</h2>
								<ul class="icons">
									<li><a href="https://github.com/gogokgc" class="icon brands style2 fa-github"><span class="label">GitHub</span></a></li>
									<li><a href="tel:01092039096" class="icon solid style2 fa-phone"><span class="label">Phone</span></a></li>
									<li><a href="mailto:﻿gogokgc@gmail.com" class="icon solid style2 fa-envelope"><span class="label">Email</span></a></li>
								</ul>
							</section>
							<ul class="copyright">
								<li>&copy; Untitled. All rights reserved</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
							</ul>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
  			<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
			<script type="text/javascript" src="/js/index.js"></script>
 			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>