<!DOCTYPE HTML>

<html>
	<head>
		<title>Game Post</title>
		<meta charset="utf-8" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	<body class="is-preload">
		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<div class="inner">

							<!-- Logo -->
								<a href="/" class="logo">
									<span class="symbol"><img src="/images/logo.svg" alt="" /></span><span class="title">Game Post</span>
								</a>

							<!-- Nav -->
								<nav>
									<ul>
										<li><a href="#menu">Menu</a></li>
									</ul>
								</nav>

						</div>
					</header>

				<!-- Menu -->
				{{#userName}}
					<nav id="menu">
						<h2>Menu</h2>
						ID : {{userName}}</br></br>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/posts/save">Posting</a></li>
							<li><a href="/">UserInfo</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</nav>
				{{/userName}}
				
				{{^userName}}
				<nav id="menu">
						<h2>Menu</h2>
						<ul>
							<li><a href="/">Home</a></li>
							<li><a href="/posts/save">Posting</a></li>
							<li><a href="/generic">generic</a></li>
							<li><a href="/elements">Elements</a></li>
							<li><a href="/auth/login">Login</a></li>
						</ul>
					</nav>
				{{/userName}}
