{{>layout/header}}

<div class="container text-dark">

  <div class="card-columns">
  
	<div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">Post Num : {{post.id}}</p>
      </div>
    </div>
    
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">Writer : {{post.author}}</p>
      </div>
    </div>
    
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">Category : none</p>
      </div>
    </div>
    
   </div>
    
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">{{post.title}}</p>
      </div>
    </div>
   
   <div class="card" style="height: 400px">
   	<div class="card-body">{{post.content}}</div>
   </div>
	
</div>
<div class="container">
	<div class="d-flex">
	<button id = "btn-check" class="btn btn-warning m-1">edit</button>
	<a href="/" class="btn btn-secondary m-1">back</a>
	</div>

</div>
<input class="invisible" id="userName" value="{{userName}}"/>
<input class="invisible" id="author" value="{{post.author}}"/>
<input class="invisible" id="id" value="{{post.id}}"/>
<script>
	$('.summernote').summernote({
		tabsize : 2,
		height : 200
	});
</script>

{{>layout/footer}}