{{>layout/header}}
<div id="main">
	<div class="inner">
		<header>
			<h1>Login Page</h1>
		</header>
	
		<section class="actions fit">
			<a href="/oauth2/authorization/google" class="button primary fit">Google Login</a>
		</section>
	</div>
</div>
</br>

{{>layout/footer}}