{{>layout/header}}
<!-- Main -->
					<div id="main">
						<div class="inner">
							<header>
								<h1>Posting</h1><br />
								<p>Pleas write down your story</p>
							</header>
							
							<div class="fields">
							<form>
										<div class="field half">
											<input type="text" name="name" id="author" value="{{userName}}" readonly="readonly"/>
										</div>
										</br>
										<div class="field half">
											<h4>TITLE</h4>
											<input type="text" name="name" id="title" placeholder="Title" />
										</div>
										</br>
										<div class="col-12">
											<h4>CONTENT</h4>
											<textarea  name="content" id="content" placeholder="Content" rows="6" ></textarea>
										</div>
							</form>
										</br>
									<ul class="actions">
										<li><button id="btn-save" class="button primary">SAVE</button></li>
										<li><a href="/posts/save" class="button">RESET</a></li>
									</ul>
							</div>
						</div>
					</div>
{{>layout/footer}}