{{>layout/header}}

<div id="main">
	<div class="inner">
		<table class="alt">
			<tr>
		        <th>Post Num : &nbsp;{{post.id}}</th>
		     
		        <th>Writer : &nbsp;{{post.author}}</th>
		     
		        <th>Category : &nbsp;none</th>
		     </tr>
    	</table>
        <p><h3>{{post.title}}</h3></p>
    
   	<blockquote>{{post.content}}</blockquote>
  
	<a id = "btn-check" class="button primary">edit</a> &nbsp;&nbsp;&nbsp;
	<a href="/" class="button">cancel</a>
	
	</div>
</div>

<input id="userName" value="{{userName}}" hidden=""/>
<input id="author" value="{{post.author}}" hidden=""/>
<input id="id" value="{{post.id}}" hidden=""/>
{{>layout/footer}}