{{>layout/header}}
<!-- Main -->
<div id="main">
	<div class="inner">
		<header>
			<h1>This is KGC's Game Posting site</h1>
			<br />
			<p>You can share you game experience with others any time in
				here!</p>
		</header>
         <form method="get" action="/posts/search" >
            <div class="row" align="right">
            	<div class="col-6 col-12-xsmall">
					<input hidden=""/>
				</div>
				<div class="col-6 col-12-xsmall">
					<input type="text" name="keyword" id="keyword" placeholder="Search" value="{{keyword}}"/>
					<br>
					<button type="submit">Search</button>
				</div>
			</div>
        </form>
		<section class="tiles">
			{{#searchResults}}
			<article class="style7">
				<span class="image"> <img src="/images/pic06.jpg" />
				</span> <a href="/posts/detail/{{id}}">
					<h2>{{title}}</h2>
					<div>
						<p>{{author}}</p>
					</div>
				</a>
			</article>
			{{/searchResults}}
		</section>
		{{#pageCheck}}
			<div class="paging" align="center">
				<a class="button primary small" href="?keyword={{keyword}}&page={{previous}}">Previous</a>
				<a class="button primary small" href="?keyword={{keyword}}&page={{next}}">Next</a>
			</div>
		{{/pageCheck}}
		{{^pageCheck}}
			<div class="paging" align="center">
				<a class="button primary small" href="?keyword={{keyword}}&page={{previous}}">Previous</a>
			</div>
		{{/pageCheck}}
	</div>
</div>

{{>layout/footer}}
